.formContainer {
  display: flex;
  justify-content: center;
  max-width: 56rem;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    .heading {
      align-self: flex-start;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    .grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 2rem;

      .input {
        --tw-bg-opacity: 1;
        background-color: rgb(243 244 246 / var(--tw-bg-opacity));
        width: 100%;
        --tw-text-opacity: 1;
        color: rgb(31 41 55 / var(--tw-text-opacity));
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        outline-color: #22c55e;
        border-radius: 6px;
      }

      .input:focus {
        background-color: transparent;
      }
    }

    @media (min-width: 640px) {
      .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}
