.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dee1e8;

    .logo {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        padding: 8px 20px;
        color: #044b0a;
        align-items: center;
        display: flex;
        gap: 10px;
    }

    .sidebarList {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .sidebarItem {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.1rem;
            text-decoration: none;
            font-weight: 600;
            padding: 8px 40px;
            border-radius: 10px;
            transition: 0.3s ease-in-out;
            color: #27374d;
        }

        .sidebarItem:hover {
           background-color: #27374d;
           color: #dde6ed; 
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        padding-left: 10px;
        padding-right: 10px;
        gap: 1.5rem;

        .logo {
            font-size: 1rem;
        }

        .sidebarList {
            .sidebarItem {
                padding: 8px 10px;
            }
        }
    }
}